# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfplan
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Test
load-test/*.json

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
